@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    /* transition: all ease-in-out 300ms; */
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@layer utilities {
    .clip-triangle {
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
}