@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    /* transition: all ease-in-out 300ms; */
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@layer utilities {
    .clip-triangle {
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

         .no-scrollbar::-webkit-scrollbar {
             display: none;
         }

         /* Hide scrollbar for IE, Edge and Firefox */
         .no-scrollbar {
             -ms-overflow-style: none;
             /* IE and Edge */
             scrollbar-width: none;
             /* Firefox */
         }
}
.hide-overflow::-webkit-scrollbar
{
    display: none !important;
}
:root {
    --p-paginator-background: #ffffff !important;
    --p-paginator-color: #111827 !important;
    --p-paginator-nav-button-selected-background: #0e1016 !important;
}
